<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UrlsFromFreeStyle" value="C:\UrlsFromFreeStyle.txt"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ssdb" connectionString="Data Source=mssql.streetstyleonline.ru;Database=ssdb;Connection Timeout=15;Packet Size=4096;User ID=streetstyle;Password=developer-112" providerName="System.Data.SqlClient"/>-->
    <add name="ssdb" connectionString="Data Source=.\MSSQLSERVER1;Initial Catalog=ssdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="ssdb" connectionString="Data Source=WSB-023\SQLENTERPRISE;Initial Catalog=ssdb;Integrated Security=True" providerName="System.Data.SqlClient"/>-->  
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey validationKey="A4A541C21BF30E9A8675ECC2DE6216EF539D0BF297483A510B8A1AA54140D20AC7864110BFC9907892985EAF98E9B77C2970BEAFFB0D28D1756930E402A7C37C" decryptionKey="532A1FCA2886DEE0F6C1B203AC6E457480B5DC1F20CECCA4" validation="SHA1"/>
    <customErrors>
      <error redirect="contacts.aspx" statusCode="500" />
      <error redirect="contacts.aspx" statusCode="403" />
      <error redirect="contacts.aspx" statusCode="404" />
    </customErrors>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="contacts.aspx"/>
      </files>
    </defaultDocument>
    <!--<httpErrors>
      <error statusCode="403" path="contacts.aspx" responseMode="ExecuteURL" />
      <error statusCode="404" path="contacts.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" path="contacts.aspx" responseMode="ExecuteURL" />
    </httpErrors>-->
  </system.webServer>
</configuration>
